/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '_colors';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-grey;
  height: 100%;
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

.content {
  &:not(.list-content) {
    padding: 16px;
  }

  @media(min-width: 600px) {
    padding: 16px;
  }
}

.content-toolbar {

}

.mat-list-item:not(:last-child) {
  border-bottom: 1px solid $light-grey;
}

.empty-list {
  margin: 20px 0 0;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-list-base {
  padding-top: 0 !important;
  .mat-list-item {
    height: 54px !important;
  }
}

.mat-card {
  &:not(.no-margin-bottom) {
    margin-bottom: 16px;
  }
  .mat-list {
    margin: 0 -16px 0;
  }
}

.mat-toolbar {
  background-color: white;
}

.mat-action-list .mat-list-item {
  cursor: pointer;
}
